<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Đăng nhập</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>
	<div class="container">
		<h2>Đăng nhập</h2>
		<form action="/login" method="post">
			<div class="input-group">
				<label for="username">Tên đăng nhập</label>
				<input type="text" id="username" name="username" required>
			</div>
			<div class="input-group">
				<label for="password">Mật khẩu</label>
				<input type="password" id="password" name="password" required>
			</div>
<!--			<div>-->
<!--				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
<!--			</div>-->
			<button type="submit" name="submit">Đăng nhập</button>
			<p>Chưa có tài khoản? <a href="/register">Đăng ký</a></p>
		</form>
	</div>
	<script src="/js/script.js"></script>
</body>

</html>